<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xmlns:cxf="http://cxf.apache.org/core"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:sec="http://www.springframework.org/schema/security"
  xmlns:mongo="http://www.springframework.org/schema/data/mongo"
  xmlns:task="http://www.springframework.org/schema/task"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
    http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/jaxws
	http://cxf.apache.org/schemas/jaxws.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy />
	<context:annotation-config/>
	<context:component-scan base-package="com.sample"/>

	<cxf:bus>
		<!-- cxf:features>
			<cxf:logging />
		</cxf:features-->
	</cxf:bus>
	
	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<bean id="exampleBeanServiceImpl" class="com.sample.services.ExampleBeanServiceImpl" />
	<bean id="authenticationServiceImpl" class="com.sample.services.AuthenticationServiceImpl" />
	<bean id="logBeanServiceImpl" class="com.sample.services.LogServiceImpl" />

	<jaxws:endpoint id="exampleBeanServiceImplSoap" address="/soap/example" implementor="#exampleBeanServiceImpl"/>
	<jaxws:endpoint id="authenticationServiceImplSoap" address="/soap/auth" implementor="#authenticationServiceImpl"/>

	<jaxrs:server id="restEndpoints" address="/rest">
		<jaxrs:serviceBeans>
			<ref bean="exampleBeanServiceImpl"/>
			<ref bean="authenticationServiceImpl"/>
			<ref bean="logBeanServiceImpl"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
			<entry key="*" value="application/json" />
		</jaxrs:extensionMappings>
		<jaxrs:inInterceptors>
	        <bean class="com.sample.interceptors.PreProtocolInterceptor"/>
	    </jaxrs:inInterceptors>
		<jaxrs:providers>
			<bean class="com.sample.mappers.ServiceJAXRSExceptionMapper"/>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider"/>
            <bean class="org.apache.cxf.jaxrs.model.wadl.WadlGenerator">
                <property name="linkJsonToXmlSchema" value="true" />
                <property name="schemaLocations">
                    <list>
                    <value>classpath:/json.schema</value>
                   </list>
                </property>
                <property name="useJaxbContextForQnames" value="true" />
                <property name="ignoreMessageWriters" value="true" />
                <property name="addResourceAndMethodIds" value="true" />
            </bean>
        </jaxrs:providers>
	</jaxrs:server>
</beans>